<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ls Imports</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>



    <!-- Cabeçalho -->
    <header>
        <div class="logo">
            <h1>Ls Imports</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#calçados">Calçados</a></li>
                <li><a href="#camisetas">Camisetas</a></li>
                <li><a href="#shorts">Shorts</a></li>
                <li><a href="#perfume">Perfume</a></li>
                <li><a href="#lupas">Lupas</a></li>
                <li><a href="#conjuntos">Conjuntos</a></li>
                <li><a href="#tracksuit">Tracksuit</a></li>
                <li><a href="#promoção">Promoção</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Buscar produtos...">
            <button>🔍</button>
        </div>
        <hr>
        <hr><hr>

    
    </header>

{% block content %}{% endblock %}

   <!-- Rodapé -->
   <footer id="contato">
    <div class="footer-content">
        <p>&copy; 2024 Ls Imports | Todos os direitos reservados.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/?locale=pt_BR">Facebook</a> | 
            <a href="https://www.instagram.com/lsimportsofc___/">Instagram</a> | 
            <a href="https://gmail.com/" class="text-white">Envie um e-mail</a>
        </div>
    </div>
</footer>
</body>
</html> 