 <!-- Formulário de Contato -->
 <section class="form-section">
    <div class="container">
        <h2 class="text-center">Entre em Contato</h2>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" required>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="col-md-6">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="telefone" class="form-control" id="telefone" required>
                </div>
                <div class="mb-3">
                    <label for="mensagem" class="form-label">Mensagem</label>
                    <textarea class="form-control" id="mensagem" rows="4" required></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-light">Enviar</button>
        </form>
    </div>
</section>