<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ls Imports</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <!-- Cabeçalho -->
    <header>
        <div class="logo">
            <h1>Ls Imports</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#calçados">Calçados</a></li>
                <li><a href="#camisetas">Camisetas</a></li>
                <li><a href="#shorts">Shorts</a></li>
                <li><a href="#perfume">Perfume</a></li>
                <li><a href="#lupas">Lupas</a></li>
                <li><a href="#conjuntos">Conjuntos</a></li>
                <li><a href="tracksuit">Tracksuit</a></li>
                <li><a href="#promoção">Promoção</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Buscar produtos...">
            <button>🔍</button>
        </div>
    </header>

    <!-- Seção de Banner -->
    <section id="home" class="banner">
        <div class="banner-content">
            <h2>Estilo, Conforto e Qualidade</h2>
            <p>Explore as melhores roupas e acessórios para seu estilo!</p>
            <a href="#calçados" class="btn-primary">Explore Agora</a>
        </div>
    </section>

    <!-- Seção Calçados -->
    <section id="calçados" class="section-products">
        <h2>Calçados</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="../static/imagens/9fb27987-0b86-467f-bc34-aa9a5b5ca81e.jfif" alt="Tênis 1">
                <h3>Tênis Louis Vuitton Sneaker LV Skate</h3>
                <p>R$ 199,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="..//static/imagens/tenis_mizuno.jfif" alt="Tênis 1">
                <h3>Tênis Mizuno Beta</h3>
                <p>R$ 199,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="..//static/imagens/tenis_nilke.jfif" alt="Tênis 2">
                <h3>Tenis Nike Dunk Low Verniz Black</h3>
                <p>R$ 159,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="..//static/imagens/tenis_adidas.jfif" alt="Tênis 3">
                <h3>Tênis Adidas Campus Black and White</h3>
                <p>R$ 219,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="..//static/imagens/mizuno_tenis.jfif" alt="Tênis 4">
                <h3>Tênis Mizuno Pro6</h3>
                <p>R$ 199,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="..//static/imagens/mizunotenis.jfif" alt="Tênis 5">
                <h3>Tênis Mizuno Pro LS Flor de Lotus</h3>
                <p>R$ 199,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="..//static/imagens/tenisnike.jfif" alt="Tênis 6">
                <h3>Tênis Nike Air Max TN Plus Grey and Green</h3>
                <p>R$ 199,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="..//static/imagens/tenis_air_force.jfif" alt="Tênis 7">
                <h3>Tênis Air Force Black</h3>
                <p>R$ 199,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="..//static/imagens/adidas_forum.jfif" alt="Tênis 8">
                <h3>Tênis Adidas Forum Low All White</h3>
                <p>R$ 199,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/tenis_schox.jfif" alt="Tênis 9">
                <h3>Tênis Nike Schox R4 Black</h3>
                <p>R$ 199,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="..//static/imagens/tenis_airmax.jfif" alt="Tênis 10">
                <h3>Tênis Air Max 97 All White Refletivo</h3>
                <p>R$ 199,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="..//static/imagens/tenis_jordan.jfif" alt="Tênis 10">
                <h3>Tênis Air Jordan 4 Grey</h3>
                <p>R$ 199,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            
        </div>
    </section>

    <!-- Seção Camisetas -->
    <section id="camisetas" class="section-products">
        <h2>Camisetas</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 1">
                <h3>Camiseta Básica</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 2">
                <h3>Camiseta Estampada</h3>
                <p>R$ 69,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 3">
                <h3>Camiseta Básica</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 4">
                <h3>Camiseta Básica</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 5">
                <h3>Camiseta Básica</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 6">
                <h3>Camiseta Básica</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 7">
                <h3>Camiseta Básica</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 8">
                <h3>Camiseta Básica</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 9">
                <h3>Camiseta Básica</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 10">
                <h3>Camiseta Básica</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 11">
                <h3>Camiseta de time</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="https://via.placeholder.com/300x200" alt="Camiseta 12">
                <h3>Camiseta de time</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
        </div>
    </section>

    <!-- Seção Shorts -->
    <section id="shorts" class="section-products">
        <h2>Shorts</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="../static/imagens/short_drifit.jfif" alt="Short 1">
                <h3>Shorts Dri-FIT Nike</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/bermuda drifit.jfif" alt="Short 2">
                <h3>Shorts Dri-FIT Nike</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/short_jeans.jfif" alt="Short 3">
                <h3>Short Jeans</h3>
                <p>R$ 69,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/bermuda_nike.jfif" alt="Short 4">
                <h3>Short Dri-Fit refletivo Nike</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/short_drifitadidas.jfif"alt="Short 5">
                <h3>Short Dri-FIT Adidas</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/short_lavibora.jfif" alt="Short 6">
                <h3>Short Elastano LaVíbora</h3>
                <p>R$ 34,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/short_adidass.jfif" alt="Short 7">
                <h3>Short Adidas de Futebol</h3>
                <p>R$ 34,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/shortpuma.jfif" alt="Short 8">
                <h3>Short Elastano Puma</h3>
                <p>R$ 34,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/shortumbro.jfif" alt="Short 9">
                <h3>Short Puma de Futebol</h3>
                <p>R$ 34,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/shortbrooksfield.jfif" alt="Short 10">
                <h3>Short Dri-FIT BrooksField</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/shortgucci.jfif" alt="Short 11">
                <h3>Short Elastano Gucci</h3>
                <p>R$ 34,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            <div class="product-card">
                <img src="../static/imagens/shortmauricinho.jfif" alt="Short 12">
                <h3>Short Jeans</h3>
                <p>R$ 79,99</p>
                <a href="#" class="btn-buy">Comprar</a>
            </div>
            </div>
        </div>
    </section>

        <!--Perfume-->
        <section id="Perfumes" class="section-products">
            <h2>Perfumes</h2>
            <div class="product-grid">
                <div class="product-card">
                    <img src="../static/imagens/perfume_ferrari.jfif" alt="Promoção">
                    <h3>Perfume Ferrari Black 200ml</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
                <div class="product-card">
                    <img src="../static/imagens/perfume_versace.jfif" alt="Promoção">
                    <h3>Perfume Versace Eros Tradicional 200ml</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
                <div class="product-card">
                    <img src="../static/imagens/perfume_pacorabanne.jfif" alt="Promoção">
                    <h3>Perfume Paco Rabanne One Million 200ml</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
                <div class="product-card">
                    <img src="../static/imagens/perfume_212_black.jfif" alt="Promoção">
                    <h3>Perfume 212 Black 200ml</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
                <div class="product-card">
                    <img src="../static/imagens/perfume_boss.jfif" alt="Promoção">
                    <h3>Perfume Hugo Boss Bottled Night 200ml</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>

            </div>

        <!--Lupas-->
        <section id="Lupas" class="section-products">
            <h2>Lupas</h2>
            <div class="product-grid">
                <div class="product-card">
                    <img src="../static/imagens/lupas_coloridas.jfif" alt="Promoção">
                    <h3>Lupa Oakley Coloridas</h3>
                    <p>R$ 100,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
                <div class="product-card">
                    <img src="../static/imagens/lupas_descanso.jfif" alt="Promoção">
                    <h3>Lupa Oakley de Descanso</h3>
                    <p>R$ 100,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
                <div class="product-card">
                    <img src="../static/imagens/lupas_ciclismo.jfif" alt="Promoção">
                    <h3>Lupa Oakley Ciclismo</h3>
                    <p>R$ 100,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
            </div>

        <!-- Seção Conjuntos -->
        <section id="conjuntos" class="section-products">
            <h2>Conjuntos</h2>
            <div class="product-grid">
                <div class="product-card">
                <img src="../static/imagens/short_drifit.jfif" alt="Short 1">
                <h3>Shorts Dri-FIT Nike</h3>
                <p>R$ 49,99</p>
                <a href="#" class="btn-buy">Comprar</a>
                </div>
            </div>
            
        <!--Seção Tracksuit-->
        <section id="Tracksuit" class="section-products">
            <h2>Tracksuit</h2>
            <div class="product-grid">
                <div class="product-card">
                    <img src="../static/imagens/conjunto_roma.jfif" alt="Promoção">
                    <h3>Tracksuit Roma</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
                <div class="product-card">
                    <img src="../static/imagens/conjunto_barcelon.jfif" alt="Promoção">
                    <h3>Tracksuit Barcelona</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
                <div class="product-card">
                    <img src="../static/imagens/conjnto_manchester.jfif" alt="Promoção">
                    <h3>Tracksuit Manchester United</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
                <div class="product-card">
                    <img src="../static/imagens/conjunto_psg[.jfif" alt="Promoção">
                    <h3>Tracksuit PSG</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>
                <div class="product-card">
                    <img src="../static/imagens/conjunto_arsenal.jfif" alt="Promoção">
                    <h3>Tracksuit Arsenal</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>

                <div class="product-card">
                    <img src="../static/imagens/conjunto_borussia[.jfif" alt="Promoção">
                    <h3>Tracksuit Borussia Dortmund/h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>

                <div class="product-card">
                    <img src="../static/imagens/conjunto_real.jfif" alt="Promoção">
                    <h3>Tracksuit Real Madrid</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>

                <div class="product-card">
                    <img src="../static/imagens/conjunto_brasil.jfif" alt="Promoção">
                    <h3>Tracksuit Brasil</h3>
                    <p>R$ 150,00</p>
                    <a href="#" class="btn-buy">Comprar</a>
                </div>

            </div>


        <!--Promoção-->
            <section id="Promoção" class="section-products">
                <h2>Promoção</h2>
                <div class="product-grid">
                    <div class="product-card">
                        <img src="..//static/imagens/promoção_conjunto.jfif" alt="Promoção">
                        <h3>Monte seu KIT por apenas 300!!</h3>
                        <p>R$ 299,99</p>
                        <a href="#" class="btn-buy">Comprar</a>
                    </div>

                    <div class="product-card">
                        <img src="..//static/imagens/promoçãoo.jfif" alt="Promoção">
                        <h3>Monte seu KIT por apenas 300!!</h3>
                        <p>R$ 299,99</p>
                        <a href="#" class="btn-buy">Comprar</a>
                    </div>

                    <div class="product-card">
                        <img src="..//static/imagens/promoçãozinha.jfif" alt="Promoção">
                        <h3>Monte seu KIT por apenas 300!!</h3>
                        <p>R$ 299,99</p>
                        <a href="#" class="btn-buy">Comprar</a>
                    </div>
                    <div class="product-card">
                        <img src="https://via.placeholder.com/300x200" alt="Promoção">
                        <h3>5 shorts jeans por apenas 220!!</h3>
                        <p>R$ 219,99</p>
                        <a href="#" class="btn-buy">Comprar</a>
                    </div>

                    <div class="product-card">
                        <img src="..//static/imagens/promoção_blusacavada.jfif" alt="Promoção">
                        <h3>Promoção 3 camisetas regatas por apenas 80!!</h3>
                        <p>R$ 79,99</p>
                        <a href="#" class="btn-buy">Comprar</a>
                    </div>
                    <div class="product-card">
                        <img src="../static/imagens/blusa_10 uni.jfif" alt="Promoção">
                        <h3>Promoção 10 camisetas por apenas 300!!</h3>
                        <p>R$ 299,99</p>
                        <a href="#" class="btn-buy">Comprar</a>
                    </div>
        </div>
    </section>

    <!-- Rodapé -->
    <footer id="contato">
        <div class="footer-content">
            <p>&copy; 2024 Ls Imports | Todos os direitos reservados.</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/?locale=pt_BR">Facebook</a> | 
                <a href="https://www.instagram.com/">Instagram</a> | 
                <a href="https://gmail.com/" class="text-white">Envie um e-mail</a>
            </div>
        </div>
    </footer>
</body>
</html>