<div class="hero">
    Bem-vindo à melhor experiência de moda!
</div>
<div class="container">
    <div class="section about">
        <h2>Sobre a Loja</h2>
        <p>Na Loja Estilo e Conforto, oferecemos roupas de alta qualidade que combinam moda, estilo e preços acessíveis. Seja para o dia a dia ou para ocasiões especiais, você encontra aqui o que precisa.</p>
    </div>
    <div class="section comments">
        <h2>O que nossos clientes dizem</h2>
        <div class="comment">
            <strong>Lucas E</strong>: "As roupas são incríveis, e o atendimento foi excelente! Recomendo!"
        </div>
        <div class="comment">
            <strong>João P</strong>: "Comprei um conjunto aqui e foi a melhor escolha. Qualidade excelente!"
        </div>
        <div class="comment">
            <strong>Henrique C</strong>: "A entrega foi rápida e o site é muito fácil de navegar. Adorei!"
        </div>
        <div class="comment">
            <strong>Pedro L</strong>: "Comprei a promoção, 10 camisetas por 300, qualidade excelente e o melhor é o frete grátis"
        </div>
    </div>
    <div class="benefits">
        <div class="benefit">
            <img src="..//static/cartao_icone.jpg" alt="Ícone de cartão">
            <h3>Parcele em até 5x</h3>
            <p>no cartão de crédito</p>
        </div>
        <div class="benefit">
            <img src="../static/entrega icone.jpg" alt="Ícone de entrega">
            <h3>Entregas para todo o País</h3>
            <p>direto na sua casa</p>
        </div>
        <div class="benefit">
            <img src="..//static/selo de confirmação icone.jpg" alt="Ícone de segurança">
            <h3>Selo de segurança</h3>
            <p>seus dados protegidos</p>
        </div>
    <div class="support-chat">
        <a href="https://web.whatsapp.com/" class="chat-btn">📞 Fale conosco pelo WhatsApp</a>
    </div>
    </div>